*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header{
    background-color: transparent;
    position: sticky;
    display: flex;
}

.left-container{
    display: flex;
}

.left-container .logo{
    width: 200px;
}